<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
  <test thread-count="5" name="Test">
  
  <parameter name="userName" value="standard_user"/>
  <parameter name="passWord" value="secret_sauce" />
  
    <classes>
      <class name="Test.TestScript"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
